<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h3> Reset Password for <%= email %>
    </h3>

    <form action="" method="post">

        <input type="password" id="password" name="password" placeholder="Password" required> <br> <br>
        <input type="password1" id="password1" name="password1" placeholder="Conform Password" required> <br> <br>


        <input type="submit" value="Reset Password ">




    </form>


</body>

</html>